<!--a draggable element-->
<div class="draggable-elements">
  <div class="fields" *ngFor="let item of fieldModels">
    <div class="field pointer shadow-bg" [dndDraggable]="item" [dndEffectAllowed]="'copy'" (dndEnd)="onDragEnd($event)">
      <i [ngClass]="item.icon" class="fa pull-left"></i>
      <h6>{{item.label}}</h6>
    </div>
  </div>
</div>

<div class="m-2 save-btn">
  <button class="btn btn-primary pull-right" (click)="savePage(pageDetail)">Save this page</button>
</div>
<div class="row page-config-component">
  <div class="col-4">
    <!--a dropzone-->
    <!--to allow dropping content that is not [dndDraggable] set dndAllowExternal to true-->
    <section [dndDropzone]="['left-panel']" (dndDragover)="onDragover($event)"
      (dndDrop)="onDrop($event, pageDetail.leftPanel)" class="dndDropArea"
      [ngClass]="{'empty':(pageDetail.leftPanel && pageDetail.leftPanel.length) == 0}">

      <div class="field" *ngFor="let item of pageDetail.leftPanel;let i= index;" (dndStart)="onDragStart($event)"
        (dndCanceled)="onDragCanceled($event)" (dndMoved)="onDragged(item, pageDetail.leftPanel, 'move')"
        [dndEffectAllowed]="'all'" [dndDraggable]="item">
        <div class="row form-group">
          <div class="col-1"><i class="fa fa-arrows dndHandle" dndHandle></i></div>
          <div class="col-7">
            <div *ngIf="item.type=='text'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="text" class="form-control" id="{{item.name}}">
            </div>
            <div *ngIf="item.type=='email'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="email" class="form-control" id="{{item.name}}">
            </div>
            <div *ngIf="item.type=='phone'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="text" class="form-control" id="{{item.name}}">
            </div>
            <div *ngIf="item.type=='number'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="number" class="form-control" id="{{item.name}}" min="{{item.min}}" max="{{item.max}}">
            </div>
            <div *ngIf="item.type=='date'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="date" class="form-control" id="{{item.name}}">
            </div>
            <div *ngIf="item.type=='datetime-local'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="datetime-local" class="form-control" id="{{item.name}}">
            </div>
            <div *ngIf="item.type=='textarea'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <textarea class="form-control" id="{{item.name}}">
                    </textarea>
            </div>
            <div *ngIf="item.type=='file'">
              <label>{{item.label}} (File can't be uploaded right now)</label> <label *ngIf="item.required"
                class="text-danger">*</label>
              <input type="file" class="form-control" id="{{item.name}}">
              <small class="form-text text-danger">(File can't be uploaded right now)</small>
            </div>
            <div *ngIf="item.type=='paragraph'">
              <p class="form-text">{{item.description}}</p>
            </div>
            <div *ngIf="item.type=='autocomplete'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <select class="form-control" id="{{item.name}}">
                <option *ngFor="let v of item.values" [value]="v.value">{{v.label}}</option>
              </select>
            </div>
            <div *ngIf="item.type=='checkbox'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <div *ngFor="let v of item.values" class="inline-form-group">
                <label class="cust-check-bx">
                  <input type="checkbox" [value]="v.value" name="{{item.name}}" (click)="toggleValue(v)"> {{v.label}}
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div *ngIf="item.type=='radio'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <div *ngFor="let v of item.values" class="inline-form-group">
                <label class="cust-check-bx">
                  <input type="radio" [value]="v.value" name="{{item.name}}"> {{v.label}}
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div *ngIf="item.type=='button'" class="btn-cont">
              <input type="{{item.subtype}}" (click)="submit()" value="{{item.label}}" class="btn btn-primary"
                id="{{item.name}}">
            </div>
          </div>
          <div class="col-4">
            <i *ngIf="item.toggle" (click)="item.toggle=false" class="fa fa-chevron-up field-arrows"></i>
            <i *ngIf="!item.toggle" (click)="item.toggle=true" class="fa fa-chevron-down field-arrows"></i>
            <i (click)="removeField(i, 'leftPanel')" class="fa fa-trash field-delete"></i>
          </div>
        </div>
        <div *ngIf="item.toggle" class="toggle-Wrapper">
          <div class="form-group">
            <label>Required</label>
            <i *ngIf="item.required" (click)="item.required=false" class="fa fa-toggle-on red"></i>
            <i *ngIf="!item.required" (click)="item.required=true" class="fa fa-toggle-off"></i>
            <span class="pull-right ucfirst">{{item.type}}</span>
          </div>
          <!-- <div class="form-group" >
            <label>Label</label>
            <input class="form-control" type="text" [(ngModel)]="item.label" />
          </div> -->
          <div class="form-group">
            <label>Description</label>
            <input class="form-control" type="text" [(ngModel)]="item.description" />
          </div>
          <div class="form-group">
            <label>Left Panel Styles</label>
            <select class="form-control" [(ngModel)]="item.leftPanelStyles">
              <option [value]="opt" *ngFor="let opt of leftPanelStyles">{{opt}}</option>
            </select>
          </div>
          <!-- <div class="form-group">
            <label>Regex</label>
            <input class="form-control" type="text" [(ngModel)]="item.regex" />
          </div> -->
        </div>
      </div>
      <!--optional placeholder element for dropzone-->
      <!--will be removed from DOM on init-->
      <div class="dndPlaceholder" dndPlaceholderRef>
      </div>
    </section>
  </div>
  <div class="col-8">
    <!--a dropzone-->
    <!--to allow dropping content that is not [dndDraggable] set dndAllowExternal to true-->
    <section [dndDropzone]="['right-panel']" (dndDragover)="onDragover($event)"
      (dndDrop)="onDrop($event, pageDetail.rightPanel)" class="dndDropArea"
      [ngClass]="{'empty':(pageDetail.rightPanel && pageDetail.rightPanel.length) == 0}">

      <div class="field" *ngFor="let item2 of pageDetail.rightPanel;let i= index;let itemIndex=index;"
        (dndStart)="onDragStart($event)" (dndCanceled)="onDragCanceled($event)"
        (dndMoved)="onDragged(item2, pageDetail.rightPanel, 'move')" [dndEffectAllowed]="'all'" [dndDraggable]="item2">
        <div class="row form-group" [ngClass]="item2.className">
          <div class="col-1"><i class="fa fa-arrows dndHandle" dndHandle></i></div>
          <div class="col-8">
            <div *ngIf="item2.type=='2in1row' || item2.type=='3in1row'">
              <div class="row">
                <div [ngClass]="item2.subClassName" *ngFor="let subField of item2.subFields">
                  <label>{{subField.label}}</label>
                  <label class="api-name">{{subField.apiName}}</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div *ngIf="item2.type=='text'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <label class="api-name">{{item2.apiName}}</label>
              <input type="text" class="form-control" id="{{item2.name}}">
            </div>
            <div *ngIf="item2.type=='email'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <label class="api-name">{{item2.apiName}}</label>
              <input type="email" class="form-control" id="{{item2.name}}">
            </div>
            <div *ngIf="item2.type=='phone'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <label class="api-name">{{item2.apiName}}</label>
              <input type="text" class="form-control" id="{{item2.name}}">
            </div>
            <div *ngIf="item2.type=='number'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <label class="api-name">{{item2.apiName}}</label>
              <input type="number" class="form-control" id="{{item2.name}}" min="{{item2.min}}" max="{{item2.max}}">
            </div>
            <div *ngIf="item2.type=='date'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <label class="api-name">{{item2.apiName}}</label>
              <input type="date" class="form-control" id="{{item2.name}}">
            </div>
            <div *ngIf="item2.type=='datetime-local'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <label class="api-name">{{item2.apiName}}</label>
              <input type="datetime-local" class="form-control" id="{{item2.name}}">
            </div>
            <div *ngIf="item2.type=='textarea'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <label class="api-name">{{item2.apiName}}</label>
              <textarea class="form-control" id="{{item2.name}}">
                    </textarea>
            </div>
            <div *ngIf="item2.type=='file'">
              <label>{{item2.label}} (File can't be uploaded right now)</label> <label *ngIf="item2.required"
                class="text-danger">*</label>
              <input type="file" class="form-control" id="{{item2.name}}">
              <small class="form-text text-danger">(File can't be uploaded right now)</small>
            </div>
            <div *ngIf="item2.type=='paragraph'">
              <p class="form-text">{{item2.description}}</p>
            </div>
            <div *ngIf="item2.type=='header'">
              <h4>
                <p class="form-text">{{item2.label}}</p>
              </h4>
            </div>
            <div *ngIf="item2.type=='autocomplete'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <label class="api-name">{{item2.apiName}}</label>
              <select class="form-control" id="{{item2.name}}">
                <option *ngFor="let v of item2.values" [value]="v.value">{{v.label}}</option>
              </select>
              <!-- <small class="form-text text-muted">{{item2.description}}</small> -->
            </div>
            <div *ngIf="item2.type=='checkbox'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <label class="api-name">{{item2.apiName}}</label>
              <div *ngFor="let v of item2.values" class="inline-form-group">
                <label class="cust-check-bx">
                  <input type="checkbox" [value]="v.value" name="{{item2.name}}" (click)="toggleValue(v)"> {{v.label}}
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div *ngIf="item2.type=='radio'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <label class="api-name">{{item2.apiName}}</label>
              <div *ngFor="let v of item2.values" class="inline-form-group">
                <label class="cust-check-bx">
                  <input type="radio" [value]="v.value" name="{{item2.name}}"> {{v.label}}
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div *ngIf="item2.type=='button'" class="btn-cont">
              <input type="{{item2.subtype}}" (click)="submit()" value="{{item2.label}}" class="btn btn-primary"
                id="{{item2.name}}">
            </div>
          </div>
          <div class="col-3">
            <i *ngIf="item2.toggle" (click)="item2.toggle=false" class="fa fa-chevron-up field-arrows"></i>
            <i *ngIf="!item2.toggle" (click)="item2.toggle=true" class="fa fa-chevron-down field-arrows"></i>
            <i (click)="removeField(i, 'rightPanel')" class="fa fa-trash field-delete"></i>
          </div>
        </div>
        <div *ngIf="item2.toggle" class="toggle-Wrapper">
          <div *ngIf=" item2.type === '2in1row' || item2.type === '3in1row' ">
            <div class="row">
              <div [ngClass]="item2.subClassName" *ngFor="let subField of item2.subFields;let subIndex = index;">
                <div class="form-group">
                  <label>Required</label>
                  <i *ngIf="subField.required" (click)="subField.required=false" class="fa fa-toggle-on red"></i>
                  <i *ngIf="!subField.required" (click)="subField.required=true" class="fa fa-toggle-off"></i>
                  <span class="pull-right ucfirst">{{item2.type}}</span>
                </div>
                <div class="form-group">
                  <label>Label</label>
                  <input class="form-control" type="text" [(ngModel)]="subField.label" />
                </div>
                <div class="form-group">
                  <label>
                    API Name
                    <span class="red font-weight-bold">*</span>
                  </label>
                  <select class="form-control" *ngIf="pageDetail.pageType === 'Custom'" [(ngModel)]="subField.apiName"
                    (ngModelChange)="mandatoryUpdated(itemIndex, (item2.name+subIndex), subField.apiName, pageDetail.pageType, subIndex)">
                    <option [value]="field.APIName" *ngFor="let field of applicationFields" [disabled]="field.apiUsed" [hidden]="field.apiUsed">
                      {{field.FieldLabel}}
                      ({{field.Type}})</option>
                  </select>
                  <select class="form-control" *ngIf="pageDetail.pageType === 'List' " [(ngModel)]="subField.apiName"
                    (ngModelChange)="mandatoryUpdated(itemIndex, (item2.name+subIndex), subField.apiName, pageDetail.pageType, subIndex)">
                    <option [value]="field.APIName" *ngFor="let field of listFields" [disabled]="field.apiUsed" [hidden]="field.apiUsed" >
                      {{field.FieldLabel}} ({{field.Type}})
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="cust-check-bx">
                    <input type="checkbox" [(ngModel)]="subField.doNotShowOnPdf"> Do Not Show in Print
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="cust-check-bx">
                    <input type="checkbox" [(ngModel)]="subField.hideOnFinalize"> Hide on Finalize
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="form-group">
                  <label>Notes</label>
                  <textarea class="form-control" [(ngModel)]="subField.notes" autocomplete="off">
                  </textarea>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf=" item2.type !== '3in1row' && item2.type !== '2in1row' ">
            <div class="form-group">
              <label>Required</label>
              <i *ngIf="item2.required" (click)="item2.required=false" class="fa fa-toggle-on red"></i>
              <i *ngIf="!item2.required" (click)="item2.required=true" class="fa fa-toggle-off"></i>
              <span class="pull-right ucfirst">{{item2.type}}</span>
            </div>
            <div class="form-group">
              <label>Label</label>
              <input class="form-control" type="text" [(ngModel)]="item2.label" />
            </div>
            <div class="form-group"
              *ngIf=" item2.type !== 'paragraph' && item2.type !== 'header' && item2.type !== 'file' ">
              <label>
                API Name
                <span class="red font-weight-bold">*</span>
              </label>
              <select class="form-control" *ngIf="pageDetail.pageType === 'Custom'" [(ngModel)]="item2.apiName"
                (ngModelChange)="mandatoryUpdated(itemIndex, item2.name, item2.apiName, pageDetail.pageType)">
                <option [value]="field.APIName" *ngFor="let field of applicationFields" [disabled]="field.apiUsed" [hidden]="field.apiUsed" >
                  {{field.FieldLabel}}
                  ({{field.Type}})</option>
              </select>
              <select class="form-control" *ngIf="pageDetail.pageType === 'List' " [(ngModel)]="item2.apiName"
                (ngModelChange)="mandatoryUpdated(itemIndex, item2.name, item2.apiName, pageDetail.pageType)">
                <option [value]="field.APIName" *ngFor="let field of listFields" [disabled]="field.apiUsed" [hidden]="field.apiUsed" >
                  {{field.FieldLabel}} ({{field.Type}})
                </option>
              </select>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <label class="cust-check-bx">
                    <input type="checkbox" [(ngModel)]="item2.doNotShowOnPdf"> Do Not Show in Print
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="col-6">
                  <label class="cust-check-bx">
                    <input type="checkbox" [(ngModel)]="item2.hideOnFinalize"> Hide on Finalize
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf=" item2.type === 'header' ">
              <label>
                Heading Type
                <span class="red font-weight-bold">*</span>
              </label>
              <select class="form-control" [(ngModel)]="item2.headingType" (ngModelChange)="mandatoryUpdated(itemIndex)">
                <option [value]="field" *ngFor="let field of headingTypes">{{field}}</option>
              </select>
            </div>
            <div class="form-group" *ngIf=" item2.type !== 'header' ">
              <label>Description</label>
              <input class="form-control" type="text" [(ngModel)]="item2.description" />
            </div>
            <div class="form-group" *ngIf=" item2.type !== 'header' ">
              <label>Regex</label>
              <input class="form-control" type="text" [(ngModel)]="item2.regex" />
            </div>
            <div class="form-group" *ngIf=" item2.type === 'autocomplete' ">
              <label>Priority options(Semi colon seperated)</label>
              <input class="form-control" type="text" [(ngModel)]="item2.priority_options" />
            </div>
            <div class="form-group">
              <label>Notes</label>
              <textarea class="form-control" [(ngModel)]="item2.notes" autocomplete="off">
              </textarea>
            </div>
          </div>
        </div>
      </div>
      <!--optional placeholder element for dropzone-->
      <!--will be removed from DOM on init-->
      <div class="dndPlaceholder" dndPlaceholderRef>
      </div>
    </section>

  </div>
</div>