.fields {
  padding-top: 2rem;
  display: table;
}

.page-config-component {
  width: 100%;
}

.draggable-elements {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  border-bottom: 1px solid lightgrey;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}

.save-btn {
  display: flow-root;
}
.btn.btn-primary {
    color: #fff;
    background-color: #075b81;
    border-color: #075b81;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
}