<div class="form-group" style="margin-bottom: 0px !important; padding: 30px 60px 5px 60px;">
  <div class="row">
    <div class="col-4">
      <label for="">Page Name</label>
      <input class="form-control" type="text" [(ngModel)]="model.name" (ngModelChange)="updatePageName(model.name)" />
    </div>
    <div class="col-4">
      <label for="">Page Type</label>
      <select class="form-control" [(ngModel)]="model.pageType">
        <option [value]="opt" *ngFor="let opt of pageTypes">{{opt}}</option>
      </select>
    </div>
    <div class="col-4">
      <label for="">Page Order</label>
      <input class="form-control" type="text" [(ngModel)]="model.pageOrder" />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-4">
      <label for="">Min Time</label>
      <input class="form-control" type="text" [(ngModel)]="model.minTime" />
    </div>
    <div class="col-4">
      <label for="">Max Time</label>
      <input class="form-control" type="text" [(ngModel)]="model.maxTime" />
    </div>
    <div class="col-4">
      <label for="">Min Max Time Unit</label>
      <select class="form-control" [(ngModel)]="model.minMaxTimeUnit">
        <option [value]="opt" *ngFor="let opt of timeUnits">{{opt}}</option>
      </select>
    </div>
  </div>
</div>

<!--a draggable element-->
<div class="draggable-elements">
  <div class="fields" *ngFor="let item of fieldModels">
    <div class="field pointer shadow-bg" [dndDraggable]="item" [dndEffectAllowed]="'copy'" (dndEnd)="onDragEnd($event)">
      <i [ngClass]="item.icon" class="fa pull-left"></i>
      <h5>{{item.label}}</h5>
    </div>
  </div>
</div>

<div class="row page-config-component">
  <div class="col-4">
    <!--a dropzone-->
    <!--to allow dropping content that is not [dndDraggable] set dndAllowExternal to true-->
    <section [dndDropzone]="['left-panel']" (dndDragover)="onDragover($event)"
      (dndDrop)="onDrop($event,model.leftPanel)" class="dndDropArea" [ngClass]="{'empty':model.leftPanel.length == 0}">

      <div class="field" *ngFor="let item of model.leftPanel;let i= index;" (dndStart)="onDragStart($event)"
        (dndCanceled)="onDragCanceled($event)" (dndMoved)="onDragged(item, model.leftPanel, 'move')"
        [dndEffectAllowed]="'all'" [dndDraggable]="item">
        <div class="row form-group">
          <div class="col-1"><i class="fa fa-ellipsis-v dndHandle" dndHandle></i></div>
          <div class="col-7">
            <div *ngIf="item.type=='text'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="text" class="form-control" id="{{item.name}}">
            </div>
            <div *ngIf="item.type=='email'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="email" class="form-control" id="{{item.name}}">
            </div>
            <div *ngIf="item.type=='phone'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="text" class="form-control" id="{{item.name}}">
            </div>
            <div *ngIf="item.type=='number'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="number" class="form-control" id="{{item.name}}" min="{{item.min}}" max="{{item.max}}">
            </div>
            <div *ngIf="item.type=='date'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="date" class="form-control" id="{{item.name}}">
            </div>
            <div *ngIf="item.type=='datetime-local'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="datetime-local" class="form-control" id="{{item.name}}">
            </div>
            <div *ngIf="item.type=='textarea'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <textarea class="form-control" id="{{item.name}}">
                    </textarea>
            </div>
            <div *ngIf="item.type=='file'">
              <label>{{item.label}} (File can't be uploaded right now)</label> <label *ngIf="item.required"
                class="text-danger">*</label>
              <input type="file" class="form-control" id="{{item.name}}">
              <small class="form-text text-danger">(File can't be uploaded right now)</small>
            </div>
            <div *ngIf="item.type=='paragraph'">
              <p class="form-text">{{item.description}}</p>
            </div>
            <div *ngIf="item.type=='autocomplete'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <select class="form-control" id="{{item.name}}">
                <option *ngFor="let v of item.values" [value]="v.value">{{v.label}}</option>
              </select>
              <!-- <small class="form-text text-muted">{{item.description}}</small> -->
            </div>
            <div *ngIf="item.type=='checkbox'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <div *ngFor="let v of item.values" class="inline-form-group">
                <label class="cust-check-bx">
                  <input type="checkbox" [value]="v.value" name="{{item.name}}" (click)="toggleValue(v)"> {{v.label}}
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div *ngIf="item.type=='radio'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <div *ngFor="let v of item.values" class="inline-form-group">
                <label class="cust-check-bx">
                  <input type="radio" [value]="v.value" name="{{item.name}}"> {{v.label}}
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div *ngIf="item.type=='button'" class="btn-cont">
              <input type="{{item.subtype}}" (click)="submit()" value="{{item.label}}" class="btn btn-primary"
                id="{{item.name}}">
            </div>
          </div>
          <div class="col-4">
            <i *ngIf="item.toggle" (click)="item.toggle=false" class="fa fa-chevron-up pull-right"></i>
            <i *ngIf="!item.toggle" (click)="item.toggle=true" class="fa fa-chevron-down pull-right"></i>
            <i (click)="removeField(i, 'leftPanel')" class="fa fa-trash pull-right"></i>
          </div>
        </div>
        <div *ngIf="item.toggle" class="toggle-Wrapper">
          <div class="form-group">
            <label>Required</label>
            <i *ngIf="item.required" (click)="item.required=false" class="fa fa-toggle-on red"></i>
            <i *ngIf="!item.required" (click)="item.required=true" class="fa fa-toggle-off"></i>
            <span class="pull-right ucfirst">{{item.type}}</span>
          </div>
          <div class="form-group">
            <label>Label</label>
            <input class="form-control" type="text" [(ngModel)]="item.label" />
          </div>
          <div class="form-group">
            <label>Description</label>
            <input class="form-control" type="text" [(ngModel)]="item.description" />
          </div>
          <div class="form-group">
            <label>Regex</label>
            <input class="form-control" type="text" [(ngModel)]="item.regex" />
          </div>
        </div>
      </div>
      <!--optional placeholder element for dropzone-->
      <!--will be removed from DOM on init-->
      <div class="dndPlaceholder" dndPlaceholderRef>
      </div>
    </section>
  </div>
  <div class="col-8">
    <!--a dropzone-->
    <!--to allow dropping content that is not [dndDraggable] set dndAllowExternal to true-->
    <section [dndDropzone]="['right-panel']" (dndDragover)="onDragover($event)"
      (dndDrop)="onDrop($event,model.rightPanel)" class="dndDropArea"
      [ngClass]="{'empty':model.rightPanel.length == 0}">

      <div class="field" *ngFor="let item2 of model.rightPanel;let i= index;let itemIndex=index;"
        (dndStart)="onDragStart($event)" (dndCanceled)="onDragCanceled($event)"
        (dndMoved)="onDragged(item2, model.rightPanel, 'move')" [dndEffectAllowed]="'all'" [dndDraggable]="item2">
        <div class="row form-group" [ngClass]="item2.className">
          <div class="col-1"><i class="fa fa-ellipsis-v dndHandle" dndHandle></i></div>
          <div class="col-7">
            <div *ngIf="item2.type=='text'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <input type="text" class="form-control" id="{{item2.name}}">
            </div>
            <div *ngIf="item2.type=='email'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <input type="email" class="form-control" id="{{item2.name}}">
            </div>
            <div *ngIf="item2.type=='phone'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <input type="text" class="form-control" id="{{item2.name}}">
            </div>
            <div *ngIf="item2.type=='number'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <input type="number" class="form-control" id="{{item2.name}}" min="{{item2.min}}" max="{{item2.max}}">
            </div>
            <div *ngIf="item2.type=='date'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <input type="date" class="form-control" id="{{item2.name}}">
            </div>
            <div *ngIf="item2.type=='datetime-local'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <input type="datetime-local" class="form-control" id="{{item2.name}}">
            </div>
            <div *ngIf="item2.type=='textarea'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <textarea class="form-control" id="{{item2.name}}">
                    </textarea>
            </div>
            <div *ngIf="item2.type=='file'">
              <label>{{item2.label}} (File can't be uploaded right now)</label> <label *ngIf="item2.required"
                class="text-danger">*</label>
              <input type="file" class="form-control" id="{{item2.name}}">
              <small class="form-text text-danger">(File can't be uploaded right now)</small>
            </div>
            <div *ngIf="item2.type=='paragraph'">
              <p class="form-text">{{item2.description}}</p>
            </div>
            <div *ngIf="item2.type=='header'">
              <h4>
                <p class="form-text">{{item2.label}}</p>
              </h4>
            </div>
            <div *ngIf="item2.type=='autocomplete'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <select class="form-control" id="{{item2.name}}">
                <option *ngFor="let v of item2.values" [value]="v.value">{{v.label}}</option>
              </select>
              <!-- <small class="form-text text-muted">{{item2.description}}</small> -->
            </div>
            <div *ngIf="item2.type=='checkbox'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <div *ngFor="let v of item2.values" class="inline-form-group">
                <label class="cust-check-bx">
                  <input type="checkbox" [value]="v.value" name="{{item2.name}}" (click)="toggleValue(v)"> {{v.label}}
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div *ngIf="item2.type=='radio'">
              <label>{{item2.label}}</label> <label *ngIf="item2.required" class="text-danger">*</label>
              <div *ngFor="let v of item2.values" class="inline-form-group">
                <label class="cust-check-bx">
                  <input type="radio" [value]="v.value" name="{{item2.name}}"> {{v.label}}
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div *ngIf="item2.type=='button'" class="btn-cont">
              <input type="{{item2.subtype}}" (click)="submit()" value="{{item2.label}}" class="btn btn-primary"
                id="{{item2.name}}">
            </div>
          </div>
          <div class="col-4">
            <i *ngIf="item2.toggle" (click)="item2.toggle=false" class="fa fa-chevron-up pull-right"></i>
            <i *ngIf="!item2.toggle" (click)="item2.toggle=true" class="fa fa-chevron-down pull-right"></i>
            <i (click)="removeField(i, 'rightPanel')" class="fa fa-trash pull-right"></i>
          </div>
        </div>
        <div *ngIf="item2.toggle" class="toggle-Wrapper">
          <div class="form-group">
            <label>Required</label>
            <i *ngIf="item2.required" (click)="item2.required=false" class="fa fa-toggle-on red"></i>
            <i *ngIf="!item2.required" (click)="item2.required=true" class="fa fa-toggle-off"></i>
            <span class="pull-right ucfirst">{{item2.type}}</span>
          </div>
          <div class="form-group">
            <label>Label</label>
            <input class="form-control" type="text" [(ngModel)]="item2.label" />
          </div>
          <div class="form-group"
            *ngIf=" item2.type !== 'paragraph' && item2.type !== 'header' && item2.type !== 'file' ">
            <label>
              API Name
              <span class="red font-weight-bold">*</span>
            </label>
            <select class="form-control" *ngIf="model.pageType === 'Custom'" [(ngModel)]="item2.apiName"
              (ngModelChange)="mandatoryUpdated(itemIndex)">
              <option [value]="field.APIName" *ngFor="let field of applicationFields">{{field.FieldLabel}}
                ({{field.Type}})</option>
            </select>
            <select class="form-control" *ngIf="model.pageType === 'List' " [(ngModel)]="item2.apiName"
              (ngModelChange)="mandatoryUpdated(itemIndex)">
              <option [value]="field.APIName" *ngFor="let field of listFields">{{field.FieldLabel}} ({{field.Type}})
              </option>
            </select>
          </div>
          <div class="form-group" *ngIf=" item2.type === 'header' ">
            <label>Heading Type</label>
            <select class="form-control" [(ngModel)]="item2.headingType" (ngModelChange)="mandatoryUpdated(itemIndex)">
              <option [value]="field" *ngFor="let field of headingTypes">{{field}}</option>
            </select>
          </div>
          <div class="form-group" *ngIf=" item2.type !== 'header' ">
            <label>Description</label>
            <input class="form-control" type="text" [(ngModel)]="item2.description" />
          </div>
          <div class="form-group" *ngIf=" item2.type !== 'header' ">
            <label>Regex</label>
            <input class="form-control" type="text" [(ngModel)]="item2.regex" />
          </div>
          <div class="form-group">
            <label>Notes</label>
            <textarea class="form-control" [(ngModel)]="item2.notes" autocomplete="off">
          </textarea>
          </div>
        </div>
      </div>
      <!--optional placeholder element for dropzone-->
      <!--will be removed from DOM on init-->
      <div class="dndPlaceholder" dndPlaceholderRef>
      </div>
    </section>

  </div>
</div>

<div class="mt-2">
  <button class="btn btn-primary" (click)="savePage(model)" [disabled]="!enableSaveButton">Save this page</button>
  <button class="btn btn-primary pull-right" (click)="preview();scroll(previewPage);" [disabled]="!enableSaveButton">Preview this page</button>
</div>

<div #previewPage style="margin-top: 1000px;">
  <div class="row" style="padding:30px;min-height:500px;">
    <div class="col-11" style="background-color: black;color:white;padding:5px 5px;height:50px;">
      <div class="col-10">
        <div style="font-weight: bold;font-size: 16px;">{{model.name}}</div>
        <div style="font-size: 12px;">{{model.minTime}}-{{model.maxTime}} {{model.minMaxTimeUnit}}</div>
      </div>
    </div>
    <div class="col-1" style="background-color: rgb(236, 186, 20);color:white;padding:10px 5px;height:50px;">
      <div style="font-weight: bold;font-size: 16px;">Finalize</div>
    </div>
    <div class="col-12 mt-3">
      <h4>{{model.name}}</h4>
    </div>
    <div class="col-4">
      <div *ngFor="let item of model.leftPanel" class="form-group">
        <div *ngIf="item.type=='text'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <input type="text" class="form-control" id="{{item.name}}" [(ngModel)]="item.value" [required]="item.required"
            [ngModelOptions]="{standalone: true}" autocomplete="off">
        </div>
        <div *ngIf="item.type=='email'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <input type="email" class="form-control" id="{{item.name}}" [(ngModel)]="item.value"
            [ngModelOptions]="{standalone: true}" autocomplete="off">
        </div>
        <div *ngIf="item.type=='phone'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <input type="email" class="form-control" id="{{item.name}}" [(ngModel)]="item.value"
            [ngModelOptions]="{standalone: true}" autocomplete="off">
        </div>
        <div *ngIf="item.type=='number'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <input type="number" class="form-control" id="{{item.name}}" min="{{item.min}}" max="{{item.max}}"
            [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" autocomplete="off">
        </div>
        <div *ngIf="item.type=='date'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <input type="date" class="form-control" id="{{item.name}}" [(ngModel)]="item.value"
            [ngModelOptions]="{standalone: true}" autocomplete="off">
        </div>
        <div *ngIf="item.type=='datetime-local'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <input type="datetime-local" class="form-control" id="{{item.name}}" [(ngModel)]="item.value"
            [ngModelOptions]="{standalone: true}" autocomplete="off">
        </div>
        <div *ngIf="item.type=='textarea'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <textarea class="form-control" id="{{item.name}}" [(ngModel)]="item.value"
            [ngModelOptions]="{standalone: true}" autocomplete="off">
        </textarea>
        </div>
        <div *ngIf="item.type=='file'">
          <label>{{item.label}} (File can't be uploaded right now)</label> <label *ngIf="item.required"
            class="text-danger">*</label>
          <input type="file" class="form-control" id="{{item.name}}" [(ngModel)]="item.value"
            [ngModelOptions]="{standalone: true}" autocomplete="off">
          <small class="form-text text-danger">(File can't be uploaded right now)</small>
        </div>
        <div *ngIf="item.type=='paragraph'">
          <p class="form-text">{{item.description}}</p>
        </div>
        <div *ngIf="item.type=='autocomplete'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <select class="form-control" id="{{item.name}}" [(ngModel)]="item.value"
            [ngModelOptions]="{standalone: true}">
            <option *ngFor="let v of item.values" [value]="v.value">{{v.label}}</option>
          </select>
        </div>
        <div *ngIf="item.type=='checkbox'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <div *ngFor="let v of item.values" class="inline-form-group">
            <label class="cust-check-bx">
              <input type="checkbox" [value]="v.value" name="{{item.name}}" (click)="toggleValue(v)"> {{v.label}}
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div *ngIf="item.type=='radio'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <div *ngFor="let v of item.values" class="inline-form-group">
            <label class="cust-check-bx">
              <input type="radio" [value]="v.value" name="{{item.name}}" [(ngModel)]="item.value"
                [ngModelOptions]="{standalone: true}"> {{v.label}}
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div *ngFor="let item of model.rightPanel" class="form-group">
        <div *ngIf="item.type=='text'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <input type="text" class="form-control" id="{{item.name}}" [(ngModel)]="item.value" [required]="item.required"
            [ngModelOptions]="{standalone: true}" autocomplete="off">
        </div>
        <div *ngIf="item.type=='email'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <input type="email" class="form-control" id="{{item.name}}" [(ngModel)]="item.value"
            [ngModelOptions]="{standalone: true}" autocomplete="off">
        </div>
        <div *ngIf="item.type=='phone'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <input type="email" class="form-control" id="{{item.name}}" [(ngModel)]="item.value"
            [ngModelOptions]="{standalone: true}" autocomplete="off">
        </div>
        <div *ngIf="item.type=='number'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <input type="number" class="form-control" id="{{item.name}}" min="{{item.min}}" max="{{item.max}}"
            [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" autocomplete="off">
        </div>
        <div *ngIf="item.type=='date'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <input type="date" class="form-control" id="{{item.name}}" [(ngModel)]="item.value"
            [ngModelOptions]="{standalone: true}" autocomplete="off">
        </div>
        <div *ngIf="item.type=='datetime-local'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <input type="datetime-local" class="form-control" id="{{item.name}}" [(ngModel)]="item.value"
            [ngModelOptions]="{standalone: true}" autocomplete="off">
        </div>
        <div *ngIf="item.type=='textarea'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <textarea class="form-control" id="{{item.name}}" [(ngModel)]="item.value"
            [ngModelOptions]="{standalone: true}" autocomplete="off">
        </textarea>
        </div>
        <div *ngIf="item.type=='file'">
          <label>{{item.label}} (File can't be uploaded right now)</label> <label *ngIf="item.required"
            class="text-danger">*</label>
          <input type="file" class="form-control" id="{{item.name}}" [(ngModel)]="item.value"
            [ngModelOptions]="{standalone: true}" autocomplete="off">
          <small class="form-text text-danger">(File can't be uploaded right now)</small>
        </div>
        <div *ngIf="item.type=='paragraph'">
          <p class="form-text">{{item.description}}</p>
        </div>
        <div *ngIf="item.type=='autocomplete'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <select class="form-control" id="{{item.name}}" [(ngModel)]="item.value"
            [ngModelOptions]="{standalone: true}">
            <option *ngFor="let v of item.values" [value]="v.value">{{v.label}}</option>
          </select>
        </div>
        <div *ngIf="item.type=='checkbox'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <div *ngFor="let v of item.values" class="inline-form-group">
            <label class="cust-check-bx">
              <input type="checkbox" [value]="v.value" name="{{item.name}}" (click)="toggleValue(v)"> {{v.label}}
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div *ngIf="item.type=='radio'">
          <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
          <div *ngFor="let v of item.values" class="inline-form-group">
            <label class="cust-check-bx">
              <input type="radio" [value]="v.value" name="{{item.name}}" [(ngModel)]="item.value"
                [ngModelOptions]="{standalone: true}"> {{v.label}}
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <button class="btn btn-success" *ngIf="model.pageType == 'List'">Remove</button>
        <button class="btn btn-success pull-right" *ngIf="model.pageType == 'List'">Save</button>
      </div>
      <div class="mt-1">
        <hr style="background-color:aquamarine;" />
      </div>
      <div class="mt-1">
        <button class="btn btn-success pull-right">Continue</button>
      </div>

    </div>
  </div>
</div>
