.form-group {
	margin: auto;
}

.btn-container {
	float: right;
	margin: 1rem 0;
}

.remove-btn {
	margin-left: 1rem;
}
.btn.btn-primary {
    color: #fff;
    background-color: #075b81;
    border-color: #075b81;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
}
.btn.btn-danger{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
}