<div class="actions">
  <div class="row name" >
    <div class="col-4">
      <label for="ConfigName" *ngIf="allPages.length > 0">Configuration Sheet Name</label>
      <input id="ConfigName" name="ConfigName" type="text" class="form-control" [(ngModel)]="configSheet.Name" (ngModelChange)="configSheetDetailsUpdated()" *ngIf="allPages.length > 0">
    </div>
    <div class="col-4">
      <label for="ConfigId" *ngIf="allPages.length > 0">Configuration Sheet Id</label>
      <input id="ConfigId" name="ConfigId" type="text" class="form-control" [(ngModel)]="configSheet.Id" (ngModelChange)="configSheetDetailsUpdated()" *ngIf="allPages.length > 0">
    </div>
    <div class="col-4">
      <div class="dropdown"  (click)="enableMenu()">
        <div class="dd-button">
            <b>Select an action</b>
        </div>
        <input title="menu" type="checkbox" class="dd-input" id="test"  [disabled]="showNextStep==true" [ngModel]="menuClicked"/>

        <ul class="dd-menu">
            <li (click)="showUseTemplatesModal = true">Use Template for page</li>
            <li (click)="addPage()">Add a blank page</li>
            <li class="divider"></li>
            <li (click)="preview()">Preview</li>
            <li class="divider"></li>
            <li (click)="exportPageConfigs()">Export Page Config</li>
            <li (click)="exportFieldConfigs()">Export Field Config</li>
            <li class="divider"></li>
            <li (click)="showUploadJsonModal = true">Import Worksheet Config</li>
            <li (click)="exportAsJson()">Export Worksheet Config</li>
            <li class="divider"></li>
            <li (click)="startFromScratch()">Reset Worksheet</li>
        </ul>    
    </div>
    </div>
  </div>
</div>

<app-modal *ngIf="showUseTemplatesModal" [title]="templateTitle" (close)="onModalClose()" size="md" >
  <app-existing-templates (modalClose)="onModalClose()" (templateSelectedEvent)="templateSelected($event)"></app-existing-templates>
</app-modal>

<app-modal *ngIf="showUploadJsonModal" [title]="fileModalTitle" (close)="onModalClose()" size="md" >
  <app-file-upload (modalClose)="onModalClose()" (gotJsonDataEvent)="jsonDataUploaded($event)"></app-file-upload>
</app-modal>

<app-modal *ngIf="showAddPageModal" [title]="modalTitle" (close)="onModalClose()" size="md">
  <app-page-detail (modalClose)="onModalClose()" (pageDetails)="savePageDetails($event)" 
    (removePageDetail)="removePageDetail()" [updatePageDetail]="updatePageDetail"></app-page-detail>
</app-modal>

<div class="main-tabs">
  <ul class="nav nav-tabs mt-2">
    <li class="nav-item" *ngFor="let page of allPages;let i=index">
      <a class="nav-link" [ngClass]="page.activeStatus" href="#" (click)="showThisPage(i)">{{page.name}}
        <i class="fa fa-pencil" (click)="editPage(page)"></i>
      </a>
    </li>
  </ul>
  <div *ngFor="let page of allPages;let i=index" class="border-left border-right border-bottom border-top">
    <app-page-config [hidden]="!page.show" [pageDetail]="page" (pageOrderUpdatedEvent)="pageOrderUpdated($event, i)"
        (closeMenu)="disableMenu()"
      (pageNameChangeEvent)="pageNameUpdated($event, i)" (savePageEvent)="savePage(page)"></app-page-config>
  </div>
  <div class= "start-new" *ngIf="allPages == null || allPages.length == 0">
    <h1 *ngIf="showNextStep == false">Start creating new worksheet!</h1>
    
    <h5 class="show-finger" *ngIf="showNextStep == true">Great!! Now you can start adding pages and fields to this worksheet from above menu</h5>
    <div class="row worksheet-info">
      <div class="col-8">
        <label for="ConfigName">Configuration Sheet Name</label>
        <input id="ConfigName" name="ConfigName" type="text" class="form-control" [(ngModel)]="configSheet.Name" (ngModelChange)="configSheetDetailsUpdated()">
      </div>
      <div class="col-8">
        <label for="ConfigId">Configuration Sheet Id</label>
        <input id="ConfigId" name="ConfigId" type="text" class="form-control" [(ngModel)]="configSheet.Id" (ngModelChange)="configSheetDetailsUpdated()">
      </div>
      <div class="col-8">
          <div class="error">
                <h6 class="danger">Please provide a name for the worksheet</h6>
          </div>
          
        <button class="btn btn-primary pull-right" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>

<app-modal *ngIf="showPreview" (close)="onModalClose()">
  <app-preview-pages></app-preview-pages>
</app-modal>