<div>
  <button class="btn btn-primary" (click)="addPage()">Add Page</button>
  <div class="pull-right" *ngIf="allPages.length > 0">
    <button class="btn btn-primary ml-3" (click)="exportFieldConfigs()">Export Field Configs</button>
    <button class="btn btn-primary ml-4" (click)="exportPageConfigs()">Export Page Configs</button>
  </div>
</div>

<div>
  <!-- <div class="accordion" id="accordionExample">
    <div class="card" *ngFor="let page of allPages;let i=index;">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{page.name}}
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <app-page-config (pageNameChangeEvent)="pageNameUpdated($event, i)"></app-page-config>
        </div>
      </div>
    </div>
  </div> -->
  <ul class="nav nav-tabs mt-2">
    <li class="nav-item" *ngFor="let page of allPages;let i=index" >
      <a class="nav-link" [ngClass]="page.activeStatus" href="#" (click)="showThisPage(i)">{{page.name}}</a>
    </li>
  </ul>

  <div *ngFor="let page of allPages;let i=index" class="border-left border-right">
    <app-page-config [hidden]="!page.show" (pageNameChangeEvent)="pageNameUpdated($event, i)"></app-page-config>
  </div>

</div>
