header{
    background-color: #075b81;
}
header .header{
    text-align: center;
    padding: 2em;
    color: #fff;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #075b81;
    border-color: #075b81;
    padding: 10px;
    font-size: 1em;
}
.footer {
    margin-top: 10px;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.container.body{
    min-height: 70vh;
}